.nine{
    margin-top: 50px;
    background-image: url(../media/Rectangle\ 25.png);
    background-repeat: no-repeat;
    background-position: left top;
    .contain{
        &__h3{
            font-family: 'Bebas Neue', cursive;
            text-align: start;
        }
        &__ul{
            font-size: 14px;
            padding-left: 0;
            display: flex;
            text-align: center;
            flex-wrap: wrap;
            width: fit-content;
            gap: 20px;
            margin: 0 auto;
            li:first-child{
                font-weight: 600;
                border-bottom: 1px solid $qizil;
            }
            li:hover{
                border-bottom: 1px solid $qizil;
            }
        }
        .main{
            display: flex;
            margin: 40px 0;
            justify-content: space-between;
            flex-wrap: wrap;
            .card1{
                width: 32%;
            }
            .card1:hover{
                box-shadow: 0 0 7px grey;
            }
        }
    }
}